<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Delta</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Application pour prédir l'état de l'individu</a></li>
    </ul>
  </div>
</nav>






















<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
		<div class="container">
			<div class="formBox">
				<form>
						<div class="row">
							<div class="col-sm-12">


 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
				
                      



								<h1>
	
	{% if predction== 1%}
	<h1 style="color: green">Resultat : Indemne</h1>
	{% elif predction== 2%}
	<h1 style="color: red"> Resultat : tué</h1>
	{% elif predction== 3%}
	<h1 style="color: orange"> Resultat : blessé hospitalisé</h1>
	{% elif predction== 4%}
	<h1 style="color: yellow"> Resultat : blessé léger</h1>
	{% endif%}</h1>

  </h3>
                    </div>
                    
                </div>


							</div>
						</div>

						
						

						
				</form>
			</div>
		</div>
	</div>






















































	
	



</body>
</html>